
body {
    animation: change-color 8s infinite alternate;
}

@keyframes change-color {
    0% {background-color: rgb(255, 255, 255);}
    50% {background-color: rgb(133, 133, 255);}
    100% {background-color: rgb(15, 51, 255);}
}

.title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 80px auto;
    animation: skew 3s infinite alternate;
}

@keyframes skew {
    0% {transform: skew(0deg,0deg);}
    100% {transform: skew(30deg,20deg);}

}

.square{ 
    background-color: blue;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 50px auto;
    transform: all 2s;
}

.square:hover{
     background-color: red; 
     transform: rotate(30deg);
}

.button-div{ 
    text-align: center;
}

.button {
    color:azure;
    background-color: rgb(104, 137, 190);
    padding: 15px;
    margin: 50px auto;
    border-radius: 10px;
    text-decoration: none; 
    display: inline-block;
    transform: all .5s;
}

.button:hover{
    background-color: red;
     transform: scale(1.5);
}

.loading{
    background-color: aliceblue;
animation: stretch 5s infinite alternate; 
width: 80vw;
}

@keyframes stretch {
    0%{width: 100px;}
    100% {width: 80vw;}
}

.circle{
    background-color: rgb(159, 159, 198);
    animation: stretch 5s infinite alternate; 
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 50px auto;
    transform: all 2s;
}

@keyframes stretch {
    0%{width: 100px;}
    100% {width: 80vw;}
}

.circle:hover{
     background-color: rgb(8, 4, 241); 
     transform: rotate(150deg);
}

.dont{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    margin: 80px auto;
    animation: skew 3s infinite alternate;
}