


.clicking-keyboard { 
    position: absolute;
    top: 10px;
    left: 30px;

}

.computer-cool-div {
position: relative;
margin: 50px auto;
max-width: 600px;
font-size: 3rem;
}

.death-code {
    position: absolute;
    top: 40px;
    left: 50px;
}